ul, ol {
  padding: 0px;
}

body {
 
  width: 100%;

  font-family: "Avenir Next" !important;

  margin: 0 auto; 
}
 
#headerDiv nav li #home {
  height: 40px;
}

#headerDiv nav {
 /* opacity: .5;*/
  width: 100%;
  height: 50px;
  /*margin-bottom: 200px;*/
  
  position: fixed;
  background-color: white;/**/

  margin: 0; 
}

#headerDiv #logo {
  /*position: relative;
  right: 50px;*/
  margin-right: 130px;
  
  /*margin-bottom: 50px;*/
  float: center;
	width: 45px;
	height: 35px;
	/*margin: 10px;*/
}



#headerDiv nav ul {
 
  width: 100%; 
  list-style-type: none;
}

#headerDiv nav ul li {
  
  width: 20%; 
  float: left;
  background-color: white; 
}
 
#headerDiv nav ul li a {

  text-decoration: none;

  height: 42px;

  font-family: "Avenir Next" !important;

  font-size: 17px;
  
  color: rgb(184,184,184);

  text-align: center;
 
  /*fix padding for pading top too? */
  /*padding-top: 10px; */
  padding-bottom: 18px 0;
 
  display: block;
 
  width: 100%;

}

#headerDiv nav ul li a:hover {
  color: black;
	font-size:23px;
	transition: font-size .8s;
}

#headerDiv nav ul #textNav {
  margin right: 50px;
}

/*============================================*/
#divOne .hiddenTitle {
  margin: auto;
  max-width: 25px;
  color: grey;
}

#divOne #hiddenDescript {   /*OR LAYER THE CAROUSEL AND HIDDEN DESCRIPTIONS AND ALTER WITH OPACITY TRANSITIONS*/ 
  position:fixed;
  font-size: 20px;
  opacity: 0;
  top: 80px;
  /*display: none;*/
  /*
  padding: 30px;
  color: red;*/
  /*max-width: 500px;*/
  background-color: #E8E8E8;
  margin: auto;
  
  width: 70%;
  /*margin-top: 100px;*/

  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 350px;
  transition: opacity ease 1s;

}


/*============================================*/



#divOne img{
  margin-top: 30px; /**/
  width: 100%;
  height: auto;

}

#divOne #homePar {
  opacity: 0;
  position: relative;
 /*position: absolute;*/ /* check this out */
  max-width: 45%;
  left: 20px;
  right-border: 50px;
  top: 15px;
  padding: 30px;
  background-color: rgb(184,184,184);
  transition: color 3s, opacity ease 2s;
}

#divOne #homePar:hover {
  /*insert transition style here*/
  background-color: #E8E8E8;

}






