body, html {
  font-family: "Avenir Next" !important;
  margin: 0 auto;
  overflow-x:hidden;
}
    #navBarDiv {
      z-index: 5;
      height: 70px;
      margin: 0px;
      width:100%;min-width: 1024px;
      position:fixed;
      text-align: center;
      background-color:rgba(0,0,0,1);
      transition: height 0.25s ;
    }
        #navBarList{
          padding-left: 0px;
          margin:0px;
          
        }

        #logoBlock{
          float: left;
          padding: 20px 17px;
          transition: padding .25s;
        }

            #logoBlock a{
              text-decoration: none;
              font-size: 24px;
              color: rgb(225,225,225);
            }
                #logo{
                      height:35px;
                      padding-left:20px;
                      }

        .navBarLinks{
          padding: 25px 17px;
          float: right;
          display: inline-block;
          font-size: 17px;
          color: rgb(120,120,120);
          transition: padding .25s;

        }    
        
            .navBarLinks a{
              text-decoration: none;
              color: rgb(120,120,120);
            }
            .navBarLinks a:hover{
            color:white;
            }
            .dropDownList{
          
              position: relative;
              top: 25px;
              width: 130px;
              border-right: 1px solid rgba(253, 53, 49, .6);
              border-bottom: 1px solid rgba(253, 53, 49, .6);
              border-left: 1px solid rgba(253, 53, 49, .6);
              background-color: rgba(255,255,255, 0.9);
              display: block;
              list-style-type: none;
              padding:15px  15px 0px 15px;
              opacity: 0;
              transform-origin: center top 0px;
              -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0.00125, 0, 1, 0, 0, 0, 0, 0, 1);
              transition: -webkit-transform 0.4s linear, opacity 0.4s ease;
            }
            .dropDownON{
              opacity: 1;
              -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00125, 0, 0, 0, 1);
              
            }
                .dropDownLI{
                  padding-bottom: 15px;
                  
                }
                .dropDownLI:hover{

                }



#passwordField {

  opacity: 0;
  top: 70px;
  right: 60px;
  left: 40px;
 position: fixed;
 font-size: 17px;
 line-height: 40px;
  /*z-index: 3;*/
  background-color: black;
  height: 320px; /*320 for reduced navbar */
  /*width: 100%;*/
  width: 1000px;
  margin: auto;
  padding: 100px;
  color: white;
  text-align: center;
  transition: opacity 2s ease;
}

#passwordInput {
  /*border-radius: 25px;*/
  /*content: "*";*/

  width: 520px;
  height: 30px;
  opacity: 0;
  top: 360px;
  right: 60px;
  left: 80px;
position: fixed;
  display: block;
  margin: auto;
  /*outline: none;*/
  /*z-index: 10;*/
  transition: opacity 2.8s linear;
}

#errorPar {
  opacity: 0;
  color: red;
}


#homeImageDiv{
  margin-top: 70px;
  height:670px;
  min-width: 1024px;
  background-image:url("womanDeepBreath.jpg");
  background-size:100% auto;
  background-repeat: no-repeat;
  opacity: .8;
  overflow-y:hidden;
  overflow-x:hidden;
  
}
    @media screen and (min-width: 0px){
        
        #textSpanEnjoy{
          font-size: 45px;
        }
        #textSpanRelief{
          font-size: 20px;
          line-height: 15px;
        }
        #chronicRhinitisButt,#solutionButt{
          
          padding: 10px 20px;
        }
        #chronicRhinitisButt:hover,#solutionButt:hover{
          padding: 10px 20px;
        }

    }
    @media screen and (min-width: 1290px){
        
        #textSpanEnjoy{
          font-size: 50px;
          line-height: 50px;
        }
        #textSpanRelief{
          font-size: 25px;
          line-height: 20px;
        }
        #chronicRhinitisButt,#solutionButt{
          
          padding: 13px 30px;
        }
        #chronicRhinitisButt:hover,#solutionButt:hover{
          padding: 13px 30px;
        }
    }
    
    #firstHomeText{
      opacity: 1;
      position: absolute;
      /*z-index: 1;*/
      color:rgb(77, 31, 31);
      line-height: 20px;
    }
        
        #chronicRhinitisButt,#solutionButt{
          display: inline-block;
          color:rgba(77, 31, 31, 0.51);
          transition: background-color 0.5s ease,border .6s ease;
          border: 2px solid rgba(255, 255, 255, 1);
          background-color: transparent;
          /*padding: 11px 17px;*/
        }
        
        #solutionButt:hover{
          background-color: rgba(253, 53, 49, 1);/*rgb(95, 192, 103)*/
          border:  2px solid rgba(253, 53, 49, 1);
          color: white;
          
        }
        #chronicRhinitisButt:hover{
          background-color: rgba(106, 105, 107, 1);/*rgb(110, 162, 242);*/
          border:2px solid rgba(106,105,107,1);
          color: white;
        }

/* ==============================================*/
/* BEGINNING OF SECTIONDIVS */
#parallaxHelpDiv{
  position: relative;
  background-color: white;
}
    .sectionDivs {
      padding: 30px;
      height: 670px;
      width: 100%;
      text-align: center;
    }


    #rhinitisHeader{
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 20px;
      background: rgb(245, 245, 245);
      color: rgb(65, 65, 65);
    }
    #rhinitisInfo {
      opacity: 0;
      background-color: white;
      color: black;
      height: 570px;
      min-width: 780px;
      display:inline-block;
      vertical-align: middle;
      padding:0px;
      padding-bottom: 15px;
      transition: opacity 3s ease;
    }
        #rhitinisInfoWrapper{
          width:27%;
          display: inline-block;
          vertical-align: middle;
          padding: 15px;
          margin: 0px 15px;
          padding-bottom: 15px;
          margin-top: 85px;
          background:rgb(245, 245, 245);
        }
            #homeParPicOne{
                height:189px;
                background-color:rgb(245, 245, 245); 
              }
                  #circlePics{
                    height:200px;
                    width:200px;
                  }
              #homeParInfoOne{
                width:100%;
                height:100%;
                text-align: center;
                vertical-align: top;
                font-size: 17px;
                line-height: 35px;
              }
                  #paraCell{
                      display:table;
                      width:100%;
                      height:100%;

                    }
                        #infoPara{
                          text-align: center;
                          padding:0px 10px;
                        }
                        #symptomsList{
                          font-size: 15px;
                          line-height: 20px;
                          padding-left: 50px;
                          height: 100px;
                        }
                            #symptomsItem{
                            }

   #existingSolutions {
      color: white;
      padding: 0px;
      margin-top: 200px;
    }
        #carouselContainer{
          width: 1024px;
          height: 600px;
          margin: auto;
          background-color: transparent;
          margin-top: 35px;
          position: relative;
        }
        #carouselContainer::before{
          content: "/\n\\";
        }
            #wrong_pic_holder{
              display: none;
              opacity: 0;
              position: absolute;
              top: -225px;
              left: -140px;
              width: 1000px;
              height: 1000px;
              background-image: url("wrong_pic.png");
              background-repeat: no-repeat;
              background-size: 100% 100%;
              -webkit-animation-duration: 1s;
              -webkit-animation-name: fadeInFromNone;

            }
            @-webkit-keyframes fadeInFromNone {
                0% {
                    display:none; 
                    opacity: 0;
                    top:-225px;
                    left: -140px;
                    width: 1000px;
                    height: 1000px;
                }


                1% {
                    display: block ; 
                    opacity: 0;
                }

                100% {
                    display: block ; 
                    opacity: 1;
                    top: 0px;
                    left:120px;
                    width: 600px;
                    height: 600px;
                }
            }
            #left_picture {
              position: absolute;
              top: 168px;
              right: 250px;
              height: 100px;
            }
            #right_picture {
              position: absolute;
              top: 165px;
              right: -58px;
              height: 100px;
            }
            #carouselImageContainer{
                width: 695px;
                height: 100%;
                display: inline-block;
                overflow-x: hidden;
            }
                .carouselList{
                  width: 3475px;
                  height: 100%;
                  padding-left: 0px;
                  margin: 0px;
                  list-style-type: none;
                  margin-left: 0px;
                  -webkit-transition: margin-left 1.5s ease;
                }
                .temp_disable_carousel_animation{
                  width: 3475px;
                  height: 100%;
                  padding-left: 0px;
                  margin: 0px;
                  list-style-type: none;
                  margin-left: 0px;
                  -webkit-transition: none !important;
                }
                    .carouselLI{
                      display: inline-block;
                      float: left;
                      width:695px;
                      height: 100%;
                    }
                    #sinus_rinse{
                      background-image: url("sinus_rinse_carousel.png");
                      background-repeat: no-repeat;
                      background-size:auto 100%;
                    }
                    #dealing_with{
                      background-image: url("dealing_with_allergies1.jpg");
                      background-repeat: no-repeat;
                      background-size: auto 100%;
                    }
                    #nose_spary{
                      background-image: url("nose_spray.png");
                      background-repeat: no-repeat;
                      background-size:100% 100%;
                    }
                    #sinus_surgery{
                      background-image: url("sinus_surgery.jpg");
                      background-repeat: no-repeat;
                      background-size:100% 100%;
                    }
                    #sinus_medication{
                      background-image: url("sinus_medication.jpg");
                      background-size: auto 100%;
                      background-repeat: no-repeat;
                    }
            #textContainer{
              float: right;
              width: 284px;
              height: 100%;
              background-color: white;
              display: inline-block;
              color: rgb(0,0,0);
              font-size: 20px;
              /*padding: 0px 10px;*/
              overflow-y:hidden;
            }

                #descriptionList{
                   /*margin-top: 0px;*/
                  list-style-type: none;
                  padding-left: 0px;
                   
                }
                  .pictureDescription{
                    position: relative;
                    top: 120px;
                    display: none;
                  -webkit-animation-duration: 2s;
                  -webkit-animation-name: fadeIn;
                  }
                  @-webkit-keyframes fadeIn {
                      0% {
                          display:none; 
                          opacity: 0;
                      }

                      1% {
                          display: block ; 
                          opacity: 0;
                      }

                      100% {
                          display: block ; 
                          opacity: 1;   
                      }
                  }
                        .pictureDescription h3{
                          /*margin: 175px 70px -12px 30px;*/
                        }
                        .pictureDescription p{
                          width: 80%;
                          margin: auto;
                          text-align: justify;
                          line-height: 25px;
                          font-size: 17px;
                        }

                            .pictureDescription p span{
                              font-weight: bold;
                              font-size: 25px;
                            }
#arrinexSolution {
  background-color: grey;
}

#team {
  background-color: beige;
  left: 10px;
}

#teamHeader1 {
  margin-bottom: 50px;
}

.teamPars {
  margin: 15px;
  line-height: 25px;
  margin-right: 55px; 

}

.teamHeader {
  display: absolute;
  float: center;
  margin:auto;
  left: 10px;
  padding: 0px;

}

#vahidSaadat {
  margin-top:300px;
  display: inline-block;
  float: left;
  width: 45%;
  left: 0px;
  height: 300px;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}

#mojganSaadat {
  margin-top:300px;
  display: inline-block;
  float: left;
  width: 55%;
  left: 0px;
  height: 300px;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;

}



#sabPerson {


}
.sabPars {
  font-size: 15px;
  text-decoration: none;
  font-weight: normal;
  /*line-height: 20px;*/

}

.sabPars {
  font-size: 15px;
  text-decoration: none;
  font-weight: normal;
  /*line-height: 20px;*/

}

/*============================================================================
BEGINNING OF INVESTORS STYLESHEET
============================================================================*/

#pdfDisplay {
  /*z-index: 2;*/
  margin-top: 50px;
  position: absolute;
  height: 1000px;
  width: 100%;
  /*padding: 30px;*/
  }

#article-Impact {
  z-index: 4; /*navbar z-index is 5*/
  position: absolute;
  float: right;
  height: 550px;
  width: 70%;
  margin-right: 10px;
  padding: 0px;
  right: 10px;
  

}

#article-canning {
  /*z-index: 0;*/
  /*opacity: 0;*/
  position: absolute;
  height: 550px;
  width: 70%;
  padding: 0px;
  right: 10px;
}

#articleButton {
  width: 20%;
  height: 35px;
  padding: 10px 20px;
  background-color: beige;
  text-align: center;
  left-margin: 10px;
  float: left;
  display: block;


}




